*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: calc(100% - 330px);
    margin: auto;
}
@media screen and (min-width: 0) and (max-width: 995px){
    .container{
        width: calc(100% - 150px);
    }
}
@media screen and (min-width: 0) and (max-width: 500px){
    .container{
        width: calc(100% - 150px);
        padding: 0 20px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header{
    background-color: #fff;
    padding: 21.84px 0;
}

.header .row {
    justify-content: space-between;
}

.header ul{
    display: flex;
}

.list ul{
    gap: 60px;
}

.icons ul{
    gap: 24px;
}

.header a {
    color: #3A3845;
    font-family: 'Inter Variable', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.menu{
    display: none;
}
@media screen and (min-width: 0) and (max-width: 995px){
    .list{
        display: none;
    }
    .icons{
        display: none;
    }
    .menu{
        display: block;
    }
}

.collections{
    padding: 80px 165px;
    text-align: center;
}
.collections .row{
    gap: 30px;
}

.collection{
    width: calc((100% - 90px)/4);
}

.collection img{
    width: 100%;
}
@media screen and (min-width: 0) and (max-width: 500px){
    .collection{
    width: 100%;
}}
@media screen and (min-width: 501px) and (max-width: 750px){
    .collection{
    width: calc((100% - 30px)/2);
}
}
@media screen and (min-width: 751px) and (max-width: 994px){
    .collection{
    width: calc((100% - 60px)/ 3 );
}
}
.collection h2 {
    margin-top: 23px;
    color: #3A3845;
    font-family: 'Inter Variable', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.bestsells {
    text-align: left; 
    margin-bottom: 80px;
}
 .bestsells h2{
    padding: 48px;
    text-align: center;
    color: #3A3845;
    font-family: "EB Garamond", serif;
    font-size: 30px; 
    font-weight: bold;
    line-height: 36px;
}
.bestsells .row{
    gap: 30px;
}
.bestsell img{
    width: 100%;
}
.bestsell {
    width: calc((100% - 90px)/4);
}

@media screen and (min-width:0) and (max-width:500px){
    .bestsell{
        width: 100%;
    }
}

@media screen and (min-width:501px) and (max-width:750px){
    .bestsell {
       width: calc((100% - 30px)/2);
    }
}

@media screen and (min-width:751px) and (max-width:994px){
    .bestsell {
       width: calc((100% - 60px)/3);
    }
}


.bestsells h5{
    color: #3A3845;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter Variable', sans-serif;

} 
.bestsells h6{
    color: #3A3845;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter Variable', sans-serif;
}
.bestsells p{
    margin-top: 24px;
    color: #807F86;
    font-size: 14px;
    font-family: 'Inter Variable', sans-serif;
}

.bestsell button{
   background-color: white;
   border-color: #3A3845;
   border-width: 1px;
   color: #3A3845;
   margin-top: 38px;
   text-align: center;
   width: 100%;
   height: 39px;
   font-family: 'Inter Variable', sans-serif;
   font-size: 12px;
   font-weight: 600;

}